#card {
    margin: 0 auto;
    border: 2px black solid;
    border-radius: 5px;
    width: 50%;
    height: auto;
    background-color: #cacaca;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#button-container {
    height: 50px;
}

a {
/*     border: 2px black solid; */
    border-radius: 5px;
    padding: 10px 25px;
    margin-bottom: 50px;
    text-decoration: none;
    font-size: 24px;
    font-weight: 900;
    color: white;
}


a:nth-child(1) {
    background-color: green;
}

a:nth-child(2) {
    background-color: red;
}
/* a:first-child{
    background-color: green;
} */
